@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&display=swap');

:root {
    --white: white;
    --primary-color: blue;
    --secondary-color: brown; 
}

body { 
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    height: 100vh;
}

.section {

    background-image: url("https://github.com/swapnilbawane/yoda-speaksv1/blob/main/images/yoda2.png?raw=true"); /*925x211 1920x192*/ 
    /* https://unsplash.com/photos/den6gTowZKs */
    background-repeat: no-repeat;
    padding: 6rem;
}

.titleSpeak {
    color: var(--white);
    text-align: center;
    margin: auto;
    font-weight: bold;
    font-size: larger;

}

.margins { 
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.center-text {
    text-align: center;
}

.horizontal-line {
    width: 50%;
    margin: auto;
}

.title-main { 
    color:rgb(12, 150, 12);
    font-style: bold;
    font-size: larger;
}


#textarea-input, #textarea-output {
    display: block;
    margin: auto;
    width:250px;
    height: 60px;
    padding: 0.2rem;
    text-align: center;
    border-radius: 0.5rem;
}

#btn-translate {
    display: block;
    margin: auto;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0.5rem;
    font-size: large;
    background-color: rgb(12, 150, 12);
    color: white;
    border-radius: 0.5rem;
}

.footer-message {
    text-align: center;  
    background-color: rgb(12, 150, 12);
    color: white; 
    padding: 1rem; 

}

.social-links { 
    text-align: center; 
    padding: 1rem;   
}

.social-linksA a { 
    text-decoration: none;
}

.social-linksA { 
    text-align: center; 
    padding: 0.5rem; 
}
